<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Setup Kids</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab *ngIf="!newKidEditorVisible" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="showNewKidEditor()" color="tertiary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list>
        <ion-item *ngIf="newKidEditorVisible">
            <ion-input type="text" [(ngModel)]="newKid" placeholder="First Name"
                       (keypress)="keypress($event.code)" (ionBlur)="blur()">
            </ion-input>
        </ion-item>
        <app-kid-summary></app-kid-summary>
    </ion-list>
</ion-content>

