<ion-header>
    <ion-toolbar>
        <ion-title>{{kid?.name - account?.name}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <ion-item>
                    <ion-thumbnail>
                        <img [src]="kid.avatar">
                    </ion-thumbnail>
                </ion-item>
            </ion-col>
            <ion-col size="8">
                <ion-label slot="start">{{kid.name}}</ion-label>
                <ion-chip slot="end">
                    <ion-label>Balance: {{accountTotal.accountTotal}}</ion-label>
                </ion-chip>
            </ion-col>
            <div float-left>
                <ion-button slot="start" color="success" expand="block" size="small"
                            (click)="addButton()">Add
                </ion-button>
            </div>
            <div float-right>
                <ion-button slot="end" color="danger" expand="block" size="small"
                            (click)="spendButton()">Spend
                </ion-button>
            </div>
        </ion-row>
    </ion-grid>
    <ion-list>
        <ion-item-divider color="light">Transactions</ion-item-divider>
        <ion-item-sliding *ngFor="let transaction of transactions" #slidingTransaction>
            <ion-item>
                <ion-thumbnail slot="start" *ngIf="transaction.choreIcon">
                    <img [src]="transaction.choreIcon">
                </ion-thumbnail>
                <ion-icon slot="start" *ngIf="!transaction.choreIcon && transaction.positive" name="trending-up"
                          [color]="success"></ion-icon>
                <ion-icon slot="start" *ngIf="!transaction.choreIcon && !transaction.positive" name="trending-down"
                          [color]="danger"></ion-icon>
                <ion-label>
                    {{transaction.accountTransaction.memo}}

                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteTransaction(transaction.accountTransaction)">Delete
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
