<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="choose-reward-system" color="tertiary">
            <ion-icon name="logo-usd"></ion-icon>
            <ion-label>Reward System</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="setup-kids" color="tertiary">
            <ion-icon name="contacts"></ion-icon>
            <ion-label>Kids</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="setup-chores" [disabled]="choresDisabled" color="tertiary">
            <ion-icon name="hammer"></ion-icon>
            <ion-label>Chores</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
