// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #68829e;
  --ion-color-primary-rgb: 104, 130, 158;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5c728b;
  --ion-color-primary-tint: #778fa8;

  --ion-color-secondary: #68829e;
  --ion-color-secondary-rgb: 104, 130, 158;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #5c728b;
  --ion-color-secondary-tint: #778fa8;

  --ion-color-tertiary: #aebd38;
  --ion-color-tertiary-rgb: 174, 189, 56;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #99a631;
  --ion-color-tertiary-tint: #b6c44c;

  --ion-color-success: #598234;
  --ion-color-success-rgb: 89, 130, 52;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #4e722e;
  --ion-color-success-tint: #6a8f48;

  --ion-color-warning: #EAEA00;
  --ion-color-warning-rgb: 234, 234, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #cece00;
  --ion-color-warning-tint: #ecec1a;

  --ion-color-danger: #A43820;
  --ion-color-danger-rgb: 164, 56, 32;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #90311c;
  --ion-color-danger-tint: #ad4c36;

  --ion-color-dark: #061D16;
  --ion-color-dark-rgb: 6, 29, 22;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #051a13;
  --ion-color-dark-tint: #1f342d;

  --ion-color-medium: #646F6D;
  --ion-color-medium-rgb: 100, 111, 109;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #586260;
  --ion-color-medium-tint: #747d7c;

  --ion-color-light: #E0E2DF;
  --ion-color-light-rgb: 224, 226, 223;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c5c7c4;
  --ion-color-light-tint: #e3e5e2;
}
