<ion-app>
    <ion-menu side="end" type="reveal">
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item tappable (click)="doSignOut()">
                        <ion-icon name="log-out" slot="start"></ion-icon>
                        <ion-label>Sign Out</ion-label>
                    </ion-item>
                    <ion-item tappable (click)="doRewardSystem()">
                        <ion-icon name="logo-usd" slot="start"></ion-icon>
                        <ion-label>Choose Reward System</ion-label>
                    </ion-item>
                    <ion-item tappable (click)="doSetupKids()">
                        <ion-icon name="contacts" slot="start"></ion-icon>
                        <ion-label>Setup Kids</ion-label>
                    </ion-item>
                    <ion-item tappable (click)="doSetupChores()">
                        <ion-icon name="hammer" slot="start"></ion-icon>
                        <ion-label>Setup Chores</ion-label>
                    </ion-item>
                    <ion-item tappable (click)="doChooseAKid()">
                        <ion-icon name="hammer" slot="start"></ion-icon>
                        <ion-label>Home</ion-label>
                    </ion-item>
                    <ion-item tappable (click)="doGenerateRandom()">
                        <ion-icon name="hammer" slot="start"></ion-icon>
                        <ion-label>Generate</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
