<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-icon name="mail" color="tertiary" slot="start"></ion-icon>
            <ion-input type="email" [(ngModel)]="registrationDetails.email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="lock" color="tertiary" slot="start"></ion-icon>
            <ion-input type="password" [(ngModel)]="registrationDetails.password" value=""
                       placeholder="Choose Password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="lock" color="tertiary" slot="start"></ion-icon>
            <ion-input type="password" [(ngModel)]="registrationDetails.repeatPassword" value=""
                       placeholder="Repeat Password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button shape="round" color="primary" expand="full" size="large" (click)="doRegister()"
                            [disabled]="isButtonDisabled">Register
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button fill="clear" color="primary" size="small" expand="full"
                            (click)="goToLoginPage()">Already Registered?
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
