<ion-header>
    <ion-toolbar>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-icon name="mail" color="primary" slot="start"></ion-icon>
            <ion-input type="email" [(ngModel)]="registrationDetails.email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="lock" color="primary" slot="start"></ion-icon>
            <ion-input type="password" [(ngModel)]="registrationDetails.password" value=""
                       placeholder="Choose Password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="lock" color="primary" slot="start"></ion-icon>
            <ion-input type="password" [(ngModel)]="registrationDetails.repeatPassword" value=""
                       placeholder="Repeat Password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button shape="round" expand="full" size="large" (click)="doRegister()"
                [disabled]="isButtonDisabled">Register
    </ion-button>
    <ion-list>
        <ion-item>
            <ion-button fill="clear" size="small" slot="end" (click)="goToLoginPage()">Already Registered?</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
