.card-header {
  margin: 0 auto;
}

.avatar {
  margin: 0 auto;
}

.badge-positive {
  margin: 0 auto;
  background: green;
}

.badge-negative {
  margin: 0 auto;
  background: darkred;
}

.chore-icon {
  position: absolute;
  top: 55%;
  left: 53%;
  width: 20px;
  height: 20px;
}

.positive {
  color: green;
}

.negative {
  color: darkred;
}

.pencil {
  position: absolute;
  top: 0;
  right: 0;
}
